name: Waka Readme

on:
  schedule:
    # Runs at 1ï¼š30am IST
    - cron: '30 1 * * *'
  workflow_dispatch:
jobs:
  update-readme:
    name: Update Readme with Metrics
    runs-on: ubuntu-latest
    steps:
    - uses: anmol098/waka-readme-stats@v3
      with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          SHOW_LINES_OF_CODE: true
          SHOW_COMMIT: true
          SHOW_DAYS_OF_WEEK: true
          SHOW_LANGUAGE: true
          SHOW_SHORT_INFO: true
          SHOW_LOC_CHART: true
